.photo-visual {
  margin-top: 35px;
}

.photo-visual__img {
  width: 280px;
  height: 280px;
}

.photo-visual__thumbs-up {
  border: none;
  background: transparent;
  fill: black;
  opacity: 0.3;
  cursor: pointer;
  padding: 0;
  margin-top: 4px;
}

.photo-visual__heading {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-align: center;
  color: $main-black;
  margin: auto;
  max-width: 140px;
}

.photo-visual__description {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: $light-black;
  max-width: 270px;
  margin: auto;
  margin-top: 29px;
}

.photo-visual__list {
  padding: 0;
  margin-top: 53px;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-content: center;
  margin-bottom: 10px;
}

.photo-visual__element {
  margin: 0 auto 11px auto;
  text-align: center;
  padding: 0;
}

.photo-visual__decorator {
  margin: 0;
  position: relative;
  padding: 0;

  &::after {
    position: absolute;
    content: "";
    border-bottom: 1px solid #e6e6e6;
    height: 1px;
    width: 100%;
    top: -2;
    left: 0;
    display: block;
  }
}

.photo-visual__likes-wrap {
  display: flex;
  margin-bottom: 18px;
  align-items: flex-start;
}

.photo-visual__image-wrap {
  text-align: left;
  position: relative;
  width: 190px;
  height: auto;
}

.photo-visual__pic-name {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: $main-black;
  margin-bottom: 2px;
}

.photo-visual__author {
  color: $light-black;
  font-size: 14px;
  margin: 0;
  margin-bottom: 8px;
}

.photo-visual__likes {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: $main-black;
  position: relative;
  padding-top: 10px;
  margin-top: 0;
  margin-left: 14px;
  display: block;
}

@media (min-width: $tablet-width) {
  .photo-visual__likes {
    padding-top: 0;
    margin-left: 11px;
  }

  .photo-visual__likes--96 {
    padding-top: 2px;
  }

  .photo-visual__likes--second {
    padding-top: 2px;
  }

  .photo-visual__likes--last {
    padding-top: 3px;
  }

  .photo-visual__heading {
    font-size: 30px;
    max-width: 428px;
  }

  .photo-visual__description {
    max-width: 428px;
    margin-top: 27px;
  }

  .photo-visual__decorator {
    display: none;
  }

  .photo-visual__image-wrap {
    background-color: $white-three;
    padding: 18px 20px 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -1px;
    width: 324px;
    height: auto;
  }

  .photo-visual__pic-name {
    margin: -5px 0 0;
  }

  .photo-visual__author {
    margin: 0;
    padding-top: 3px;
  }

  .photo-visual__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 648px;
    margin: auto;
    margin-top: 68px;
  }

  .photo-visual__image-wrap--space {
    width: 648px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .photo-visual__element {
    margin: 0;
  }

  .photo-visual__likes-wrap {
    margin: 8px;
  }

  .photo-visual {
    margin-top: 65px;
  }

  .photo-visual__img {
    width: 324px;
    height: 268px;
  }

  .photo-visual__img--sunset {
    width: 648px;
    height: 400px;
  }

  .photo-visual__road-likes {
    margin-right: 15px;
  }

  .photo-visual__road {
    background-color: #eaeaea;
  }

  .photo-visual__likes--first {
    margin-right: -10px;
    padding-top: 5px;
  }

  .photo-visual__thumbs-up {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .photo-visual__list {
    max-width: 100%;
    justify-content: center;
    margin-top: 73px;
  }

  .photo-visual__pic-name,
  .photo-visual__author,
  .photo-visual__likes {
    color: $white;
  }

  .photo-visual__likes {
    &::before {
      opacity: 1;
    }
  }

  .photo-visual__image-wrap {
    margin-top: -83px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.99;
    padding-top: 20px;
    width: 400px;
    height: auto;
    padding-bottom: 0;
  }

  .photo-visual {
    margin-top: 100px;
  }

  .photo-visual__description {
    margin-top: 26px;
  }

  .photo-visual__author {
    padding-top: 5px;
    padding-bottom: 20px;
  }

  .photo-visual__author--first {
    padding-bottom: 0;
  }

  .photo-visual__road {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .photo-visual__likes-wrap {
    margin-top: 10px;
  }

  .photo-visual__likes--first {
    margin-right: -5px;

    &::before {
      left: -30px;
    }
  }

  .photo-visual__thumbs-up {
    fill: #ffffff;
    opacity: 1;
  }

  .photo-visual__img {
    width: 400px;
    height: 267px;
  }

  .photo-visual__img--sunset {
    width: 1200px;
    height: 400px;
    margin: 0;
    padding: 0;
  }

  .photo-visual__image-wrap--space {
    width: 1200px;
    padding-bottom: 7px;
    padding-top: 18px;
  }

  .photo-visual__element {
    background-color: black;
  }
}
