$white: #ffffff;
$main-blue: #81b3d2;
$light-black: #333333;
$main-black: #000000;
$grey-background: #ededed;
$tablet-width: 768px;
$desktop-width: 1200px;
$white-three: #f2f2f2;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$mobile-width-only: 320px;
$tablet-width-only: 768px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
